# Node modules
node_modules/

# Build output
dist/

# Local environment files
.env.local
.env.*.local
.env

# System files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git-specific files (you can leave this out if you prefer)
.git
.gitmodules
